<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My All in One App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="static/home.js"></script>
    <script src="static/calculator.js"></script>
    <script src="static/todo.js"></script>
    <script src="static/crypto.js"></script>
</head>

<body>
<div id="app" class="container-fluid">
    <header class="mb-5">
        <h1 class="display-4 text-center">My All in One App</h1>

        <nav class="navbar navbar-expand-lg justify-content-center">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a :class="componentId === 0 ? 'btn mx-2 btn-primary' : 'btn mx-2 btn-secondary'" href="#" @click.prevent="componentId = 0">Home</a>
            </li>
            <li class="nav-item">
                <a :class="componentId === 1 ? 'btn mx-2 btn-primary' : 'btn mx-2 btn-secondary'" href="#" @click.prevent="componentId = 1">Calculator</a>
            </li>
            <li class="nav-item">
                <a :class="componentId === 2 ? 'btn mx-2 btn-primary' : 'btn mx-2 btn-secondary'" href="#" @click.prevent="componentId = 2">Todo</a>
            </li>
            <li class="nav-item">
                <a :class="componentId === 3 ? 'btn mx-2 btn-primary' : 'btn mx-2 btn-secondary'" href="#" @click.prevent="componentId = 3">Crypto</a>
            </li>
            </ul>
        </nav>
    </header>

    <home v-if="componentId === 0"></home>
    <calculator v-if="componentId === 1"></calculator>
    <todo v-if="componentId === 2"></todo>
    <crypto v-if="componentId === 3"></crypto>
    

    

    
</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const cryptoUrl = "https://api.coinlore.net/api/tickers/";
Vue.createApp({
    components: {
        "home": home,
        "calculator": calculator,
        "todo": todo,
        "crypto": crypto
    },
    data(){
        return{
            componentId : 0
        }
    }
}).mount('#app')
</script>
</body>

</html>
